version: '3.8'

services:
  scrapers:
    build: .
    container_name: awardwiz-scrapers
    ports:
      - "2222:2222"
    volumes:
      - ./tmp:/usr/src/awardwiz/tmp
    environment:
      TZ: America/Los_Angeles

networks:
  default:
    name: awardwiz    name: awardwiz    name: awardwiz